<h1> hi here's a home page </h1
	
 	<div class="container">
 		<div class="Bus">

 		</div>
 		<div class="Bike-wrap">
 			<div class="header">
			<span id="name">Capital Bikeshare</span>
			<span id="bikes">Bikes</span>
			<span id="docks">Docks</span>
			<div class="bike-info"></div>
		</div>
 		</div>
 		<div class="Metro">

 		</div>

 	</div>

	<script type="x-handlebars-template" id="bike-template">
	<div>
		
		<span><img src=""></span>
		<span class="location">{{location}}</span>
		<span class="bikes">{{bikes}}</span>
		<span class="docks">{{Docks}}</span>
	</div>
	</script>

	<script type="x-handlebars-template" id="metro-template">
		<
		<span>{{}}</span>
	</script>

	<script type="x-handlebars-template" id="bus-template">
		<div>
		<div class="header">
			<span class="pic"><i class="fa fa-bus"></i></span>
			<span class="station">{{station}}</span>

			
		</div>
		<span></span>
		<span class="name">{{name}}</span>
		<span class="destination">{{destination}}</span>
		<span class="arrival">{{arrival}}</span>
	</div>

	</script>




 